.busiProfile{
    width: 90vw;
    height: auto;
}

.busiProfileBody {
    background-color: #aa6373;
    height: 170vh;
    width: auto;
    list-style-type: none;
}

.profile1 {
    width: 90vw;
    height: auto;
}

.profileBody{
    background-color: #aa6373;
    height: 150vh;
    width: auto;
}

.food {
    width: 95vw;
    height: auto;
}

.foodBody {
    background-color: #aa6373;
}

.settings {
    width: 80vw;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

.settingsBody {
    background-color: #aa6373;
}

.purchase {
    height: auto;
    width: 239px;
    position: absolute;
    top:227px;
    left:551px;
    cursor: pointer;
}

.purchase:hover {
    transform: scale(1.02);
}

.popupButton{
   color: #aa6373;
}

.messagesContainer {
    overflow-y: scroll;
    height: 71vh;
}

.messages {
    height: auto;
    width: 70%;
    margin: 1% 15% 0 15%;
    /* position: absolute;
    left: 400px;
    top: 90px; */
}

.chatSideContainer {
    overflow-y: scroll;
    height: 85vh;
    cursor: pointer;
}

.chatSide {
    height: auto;
    width: 100%;
    /* position:absolute;
    left: 0px;
    top: 90px; */
}

.messageBody {
    background-color: #E9D2F4;
    overflow: hidden;
    
}

.textbox {
    height: 15vh;
    padding-top: 20px;
    /* position: absolute;
    bottom: 0px;
    left: 700px; */
}

.messageInput {
    margin: 1%;
    width: 70%;
    height: 6vh;
    border-radius: 15px;
    padding-left: 1.5%;
}

.messageSubmit {
    margin: 1%;
    height: 6vh;
    width: 15%;
    border-radius: 15px;
}

.messageSubmit:hover {
    cursor: pointer;
    opacity: 0.5;
}

.thanks {
    width: 11.5%;
    margin-right: 15%;
    transition: opacity .1.25s ease-in-out;
    
}

.thanksContainer {
    text-align: right;
}

.profile1Icon {
    height: auto;
    width: 270px;
    position: absolute;
    top: 235px;
    left: 882px;
    cursor: pointer;

}

.profile1Icon:hover {
    transform: scale(1.02);
}