.body {
    background-color:#aa6373;
    width: 1250px;
    height: 1080px;
    margin-top: 10px;
}

.profile1{
    text-align: left;
}

.profile2 {
    text-align: center;
}

.profile3 {
    text-align: right;
}