

.header {
    height: 50px;
    background-color: #112d4e;

}

.homeLogo {
    display: block;
}

.logo {
    margin-top: 7px;
    margin-left: 10px;
}

.logo:hover {
    box-shadow: 0 0 2px 1px #aa6373;
}

.accountLogo {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    width: auto;
    height: 30px;
}
.options {
        float: right;
        margin-right: 30px;
        margin-top: 10px;
        width: auto;
        height: 30px;
}